<div class="container">

    <h2>Witam serdecznie w aplikacji UsersApp!</h2>
    Umożliwia ona dodawanie użytkowników do bazy danych oraz odczytywanie ich danych. W lewym górnym rogu obok loga aplikacji znajduje się przycisk 'Admin'. 
    Po kliknięciu go zostajemy przekierowani do listy użytkowników. Nad listą znajdują się dwa przyciski nawigacyjne.
    Po kliknięciu na przycisk 'Dodaj użytkownika' zostajemy przekierowani do formularza, który umożliwia nam dodanie nowego użytkownika do bazy.
    Formularz posiada walidację wpisywanych danych (imię oraz nazwisko użytkownika musi składać się z minimum dwóch znaków natomiast pesel musi posiadać dokładnie 11 znaków). 
    Po stronie backendowej istnieje jeszcze dodatkowo walidacja wpisywanych znaków w peselu (pesel musi być liczbą). Jeśli te wymogi nie zostaną spełnione nie uda się dodać użytkownika.
    Lista użytkowników prezentuje wpisane dane (imię, nazwisko i pesel) oraz datę urodzenia na podstawie numeru pesel.
</div>